<%= form_for @profile, url: profile_path(current_user.id) do |f| %>

 <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@profile.errors.count, "error") %> prohibited
        error:
      </h2>
      <ul>
        <% @profile.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  Nickname: <%= f.text_field :nickname %><br />
  Age: <%= f.text_field :age %><br />
  Avatar: <%= f.file_field :avatar %><br />
  <%= f.submit "Create" %>
<% end %>